*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

ul {
    list-style: none;
}

.forecast p{
    contain: content;
    font-size: 1em;
}

span{
    font-size: 1em;
}
li:hover{
    background-color: rgb(204, 91, 125);
    text-decoration: underline;
}
